.about_page {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-top: 70px;
  margin: 0 auto 0 auto;
}

.main_bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 80px);
}

.front_about_me_description {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
  z-index: 1000;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  z-index: 1000;
}

.hello,
.my_name {
  font-size: 5vw;
  margin: 0;
}

.my_name span {
  color: #8ba6be;
}

.about_me_description {
  font-size: 1.4vw;
  width: 86%;
}

.pfp_nb {
  width: 30vw;
  object-fit: cover;
  z-index: 1000;
}

.camera_icon {
  position: absolute;
  height: 100vh;
  filter: invert(78%);
  bottom: 0;
  z-index: 0;
  opacity: 0;
  animation: fade-in 2s forwards;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

@keyframes fade-in {
  0% {
    opacity: 0;
    right: 100%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

.roadmap_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
}

.roadmap_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  min-width: 20%;
  margin: 0 auto;
  position: relative;
  border-left: 2px solid black;
  padding: 30px 0px 30px 50px;
  font-size: 1.2rem;

  &::after {
    width: 10px;
    height: 10px;
    position: absolute;
    left: -8px;
    top: 60px;
    border-radius: 10px;
    content: "";
    border: 2px solid black;
    background: rgb(235, 234, 234, 1);
  }
}

.roadmap_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.roadmap_item h4 {
  font-size: 1.2rem;
  color: #686868;
  margin: 5px 0px 5px 0px;
}
