@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Manrope:wght@200..800&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0;
  background-color: rgb(235, 234, 234);
  font-family: "Manrope", sans-serif;
}
