.footer {
  position: relative; /* Change to relative */
  width: 100%;
  min-height: 10vw; /* Use min-height to ensure it's at least 10vw tall */
  background-color: rgb(51 51 51);
  color: white;
  text-align: center;
}

.footer_social_icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.footer_social_inst {
  position: absolute;
  filter: invert(100%);
  width: auto;
  height: 40%;
}

.web_rights {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
}
