.footer {
  background-color: rgb(66, 66, 66);
  color: white;
  display: flex;
  flex-direction: column;
}

.footer_social {
  display: flex;
  flex-direction: column;
  margin-left: 2.55%;
  padding-top: 1%;
}

.footer_social_inst,
.footer_social_whatsapp{
  display: flex;
  align-items: center;
}

.footer_social_inst {
  padding: 1.2% 0;
}

.footer_social_inst li,
.footer_social_whatsapp li {
  padding-left: 1%;
  list-style: none;
}

.footer_social_inst a,
.footer_social_whatsapp a {
  font-size: 1vw;
  text-decoration: none;
  color: white;
}

.footer_social_inst img,
.footer_social_whatsapp img {
  width: 1.6vw;
  filter: brightness(0) invert(1) !important;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  font-size: 0.8vw;
}

.address_footer {
  margin-left: 2.55%;
}

.web_rights {
  margin-right: 2.2%;
}
