.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.image_container_front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  transition: filter 0.5s ease-in-out;
}

.image_container_front {
  width: 95%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  transition: filter 0.5s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  transition: filter 0.5s ease-in-out;
}

.image_container_front:hover img {
  filter: brightness(45%);
}

.image_container_front:hover .text_front_image {
  opacity: 1;
}

.text_front_image {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  font-size: 70px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.description_line {
  width: 95%;
  text-align: center;
  margin-top: 10px;
  color: #000000;
}

.subtext {
  font-size: 30px;
  margin-top: 10px;
}

.bio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 0%;
}

.description_line_profile_pic {
  font-size: 30px;
  max-width: 900px;
  width: 55%;
  text-align: left;
  color: #000000;
}

.circle_spinner {
  position: relative;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_profile_pic {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 50%;
  z-index: 1;
}

.text_for_spiner {
  color: #000000;
  font-size: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 35s linear infinite;
  z-index: 2;
}

.text_for_spiner span {
  position: absolute;
  left: 50%;
  transform-origin: 0 241px;
  z-index: 0;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.image_container {
  width: 95%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.image_container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.image_container button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.image_container button.left {
  left: 40px;
}

.image_container button.right {
  right: 40px;
}

.description_collage {
  font-size: 26px;
  max-width: 1000px;
  width: 100%;
  text-align: left;
  color: #000000;
  padding: 5%;
}

h1 {
  font-size: 1.6em;
  text-align: center;
  padding: 1em;
  color: #3c605d;
}

.circle_profile_pic {
  max-width: 100%;
  display: block;
}

figure {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
}

/* Quantity Queries */
.post-image:nth-last-child(n + 2):nth-last-child(-n + 2):first-child,
.post-image:nth-last-child(n + 2):nth-last-child(-n + 2):first-child
  ~ .post-image {
  flex: 0 1 48%;
}

.post-image:nth-last-child(n + 3):nth-last-child(-n + 3):first-child,
.post-image:nth-last-child(n + 3):nth-last-child(-n + 3):first-child
  ~ .post-image {
  flex: 0 1 31%;
}

.post-image > img {
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 700px;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
