.container_reviews {
  max-width: 9%;
  min-width: 85%;
  height: auto; 
  padding: 20px 0 50px; 
  display: flex;
}

.swiper-slide {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  height: auto; 
}

.swiper_container {
  width: 100%; 
  max-width: 800px; 
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0; 
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info > img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  margin-bottom: 10px;
}

.review_text {
  text-align: left;
  width: 90%; 
}

.text_container {
  text-align: center;
  font-size: 90%; 
}

.name {
  font-weight: bold;
  font-size: 16px; 
}

.photoshoot_type {
  color: #666;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.star {
  font-size: 20px; 
  color: #fdd835;
  margin-right: 5px;
}

@media (min-width: 600px) {
  .container_reviews {
    flex-direction: row; 
    align-items: initial; 
  }

  .swiper-slide {
    margin-bottom: 0; 
  }

  .swiper_container {
    width: 70%; 
    max-width: none; 
  }

  .review_text {
    width: 75%; 
  }
}
